{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Ecommerce | Log In {% endblock %}

{% block content %}
    <div class="container">
      <div class="container">
        <a href="{% url 'home' %}"><b>E</b>commerce</a>
      </div><!-- /.login-logo -->
      <div class="container">
        <p >Sign in to start your session</p>
        <form method="POST">{% csrf_token %}
          <div>
          {% bootstrap_field form.username %}
          </div>
          <div >
            {% bootstrap_field form.password %}
          </div>
          <div class="row container">
            <div class="col-xs-8">    
            <a href="{% url 'password_reset'%}">I forgot my password</a><br>
            <a href="{% url 'accounts:signup' %}" class="text-center">Register a new membership</a>         
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" >Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>
{% endblock content %}
